# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3
/apis/settings/local.py
/apis/settings/server.py
.ipynb_checkpoints
/Untitled.ipynb

# sym links
/apis_bibsonomy
/apis_core

# ignore all within all migrations folders except for __init__.py
**/migrations/*
!migrations/__init__.py

/staticfiles

