{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{% projects_metadata 'title' %}*</h1>
            <h3 class="card-title">{% projects_metadata 'subtitle' %}</h3>
        </div>
        <div class="card-body">
            <div>
                <p>
                    {% projects_metadata 'description' %}
                </p>
                <p>
                    Als Service bietet sie Zugriff auf die verschiedene Personen, Werke, Einrichtungen, Orte und Ereignisse (Entitäten), die für Forschungsprojekte aus dem Umfeld recherchiert wurden. Durch die Verwendung einer gemeinsamen Identifikationsnummer werden bestehende Projekte auch auch nach Abschluss mit aktuellen Forschungsdaten verknüpft. In neuen Projekten erspart es Arbeit und generiert Wissen, wenn eine bereits erfasste Person nicht neuerlich recherchiert werden muss. Verweise auf andere Normdatensätze (GND, geonames.org) erlauben den automatisierten Abgleich, ohne Fehler von diesen übernehmen zu müssen.
                </p>
                <p>
                    Folgende Daten bilden den Grundstock, mit denen im Februar 2019 begonnen wurde:
                    <ul>
                        <li>
                            Peter Michael Braunwarth: Personen-, Werk- und Ortindex: Arthur Schnitzler: <i>Tagebuch 1879–1931</i>. Herausgegeben von der Kommission für literarische Gebrauchsformen der Österreichischen Akademie der Wissenschaften, Obmann: Werner Welzig. Wien: Verlag der Österreichischen Akademie der Wissenschaften, 1981–2000.
                        </li>
                        <li>
                            Martin Anton Müller: Personen-, Werk-, Organisations- und Ortindex für die Edition: <i>Arthur Schnitzler – Briefwechsel mit Autorinnen und Autoren (2018–2021)</i>. Diese sind eine Weiterführung von den von Kurt Ifkovits und Martin Anton Müller erstellten Daten zu: Hermann Bahr, Arthur Schnitzler: Briefwechsel, Aufzeichnungen, Dokumente. Hg. K. I. und M. A. M. Göttingen: Wallstein 2018.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-header">
            <small>
                * Der Name versteht sich als Referenz auf Peter Michael Braunwarth, dessen Arbeit den Grundstock bildet.
            </small>
        </div>
    </div>
</div>
{% endblock %}
