{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Team {% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Team</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">Project Lead and Scientific Consultant</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Johannes Feichtinger</h5>
                                    <p class="card-text">Johannes Feichtinger is responsible for the project's entire operations. </p>
                                    <a href="https://www.oeaw.ac.at/en/ikt/the-institute/staff/research-staff/johannes-feichtinger/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Heidemarie Uhl</h5>
                                    <p class="card-text">Heidemarie Uhl is involved in the project's development and strategic planning.</p>
                                    <a href="https://www.oeaw.ac.at/en/ikt/the-institute/staff/research-staff/heidemarie-uhl/  " class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <h2 class="card-title">Scientific Coordinator and Data Curators</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Johannes Mattes</h5>
                                <p class="card-text">Johannes Mattes is responsible for the scientific supervision, organization and monitoring of research and data input. </p>
                                <a href="https://www.oeaw.ac.at/en/members-commissions/commissions/geschichte-der-oesterreichischen-akademie-der-wissenschaften/johannes-mattes/  " class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Sandra Klos</h5>
                                <p class="card-text">Sandra Klos is responsible for archival research, data preparation and input.</p>
                                <!-- <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="card-title">Developement</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Matthias Schlögl</h5>
                                    <p class="card-text">Schlögl is responsible for the data model, application architecture, developement and implementation.</p>
                                    <a href="https://www.oeaw.ac.at/acdh/team/current-team/matthias-schloegl/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Andorfer</h5>
                                    <p class="card-text">Andorfer is responsible for the data model, application architecture, developement and implementation..</p>
                                    <a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
